.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    max-width: 100%;
}

.menu-open{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
    }
.logo-container {
    width: 100px;
    flex-shrink: 0; 
}
.nav-container{
    width:80%;
}
.nav-menu {
    display: flex;
    flex-direction: row;

    flex-grow: 1; 
    margin: 0;
    padding: 0;
    display: grid;
    gap:10px;
    grid-template-columns:repeat(7,1fr);
}


.nav-menu li {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.nav-menu a {
    text-decoration: none;
    color: inherit;
    overflow-x: hidden;
    font-size: 25px;
    transition: color 0.3s;
    align-items: center;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.nav-menu a:hover{
    color:#3785c9;
    border-radius: 5px;
}
.info-column{
    text-align: center;
}


@media (max-width: 768px) {
.nav-menu-open{
    flex-direction: column;
}
.nav-menu-open a{
font-size: 20px;
}
.header-container-2{
    margin-left: 20px;
}
.header-container{
    justify-content:space-between;
}
.nav-menu-open li {
    margin-bottom: 20px;
}
 }  
 @media (max-width:1111px){
   
    .nav-menu a{
        white-space:normal;
    }
 }